Repository jruby/jruby, pull requests merged in 2018-06, with the labels that each got.

#5211 [ji] coercing Ruby File/Dir to Java File/Path
  core/src/main/java/org/jruby/RubyDir.java
  core/src/main/java/org/jruby/RubyFile.java
  core/src/main/java/org/jruby/RubyString.java
  spec/java_integration/addons/dir_spec.rb
  spec/java_integration/addons/file_spec.rb
  spec/java_integration/addons/io_spec.rb
Labels: java integration

#5214 Clone proc blocks as well so they have their own frame etc.
  core/src/main/java/org/jruby/RubyModule.java
Labels: core

#5225 update jruby-readline to new release
  lib/pom.rb
  lib/pom.xml
Labels: internal, stdlib
