Repository jruby/jruby, pull requests merged in 2019-12, with the labels that each got.

#5984 Bind only public interface methods for private classes
  core/src/main/java/org/jruby/javasupport/binding/MethodGatherer.java
  spec/java_integration/object/marshal_spec.rb
Labels: java integration

#6010 Ruby 2.6 : Add String#split with a blcok
  core/src/main/java/org/jruby/RubyString.java
Labels: core, ruby 2.6

#6011 Ruby 2.6 : Add Random.bytes
  core/src/main/java/org/jruby/RubyRandom.java
Labels: ruby 2.6
