Repository jruby/jruby, pull requests merged in 2019-09, with the labels that each got.

#5744 first stab at a spec
  spec/ruby/core/enumerator/lazy/flat_map_spec.rb
Labels: tests

#5889 [feat] jit.exclude based on path/to/impl_file.rb
  core/src/main/java/org/jruby/RubyInstanceConfig.java
  core/src/main/java/org/jruby/compiler/BlockJITTask.java
  core/src/main/java/org/jruby/compiler/MethodCompiledJITTask.java
  core/src/main/java/org/jruby/compiler/MethodJITTask.java
Labels: feature, jit

#5893 [fix] jit.excludes for block using class (and method) name
  core/src/main/java/org/jruby/compiler/BlockJITTask.java
  core/src/main/java/org/jruby/compiler/Compilable.java
  core/src/main/java/org/jruby/compiler/JITCompiler.java
  core/src/main/java/org/jruby/internal/runtime/AbstractIRMethod.java
  core/src/main/java/org/jruby/runtime/InterpretedIRBlockBody.java
  core/src/main/java/org/jruby/runtime/MixedModeIRBlockBody.java
Labels: jit

#5880 attempt to share loader for JIT-ed classes
  core/src/main/java/org/jruby/compiler/BlockJITTask.java
  core/src/main/java/org/jruby/compiler/ClassLoaderMode.java
  core/src/main/java/org/jruby/compiler/JITCompiler.java
  core/src/main/java/org/jruby/compiler/MethodCompiledJITTask.java
  core/src/main/java/org/jruby/compiler/MethodJITTask.java
  core/src/main/java/org/jruby/util/cli/Options.java
  core/src/main/java/org/jruby/util/collections/WeakValuedMap.java
Labels: jit
