Repository jruby/jruby, pull requests merged in 2021-03, with the labels that each got.

#6590 Provide direct byte[] read and write for RubyIO
  core/src/main/java/org/jruby/RubyIO.java
  core/src/main/java/org/jruby/RubyInteger.java
  core/src/main/java/org/jruby/RubyThread.java
  core/src/main/java/org/jruby/util/ByteList.java
  core/src/main/java/org/jruby/util/IOInputStream.java
  core/src/main/java/org/jruby/util/IOOutputStream.java
  core/src/main/java/org/jruby/util/io/EncodingUtils.java
  core/src/main/java/org/jruby/util/io/OpenFile.java
Labels: core, performance

#6513 [ji] eliminate JavaClass usage in favor of Java wrappers
  core/src/main/java/org/jruby/RubyClass.java
  core/src/main/java/org/jruby/RubyModule.java
  core/src/main/java/org/jruby/ext/jruby/JRubyUtilLibrary.java
  core/src/main/java/org/jruby/java/addons/ClassJavaAddons.java
  core/src/main/java/org/jruby/java/addons/KernelJavaAddons.java
  core/src/main/java/org/jruby/java/invokers/MethodInvoker.java
  core/src/main/java/org/jruby/java/proxies/ArrayJavaProxy.java
  core/src/main/java/org/jruby/java/proxies/ArrayJavaProxyCreator.java
  core/src/main/java/org/jruby/java/proxies/InterfaceJavaProxy.java
  core/src/main/java/org/jruby/java/proxies/JavaInterfaceTemplate.java
  core/src/main/java/org/jruby/java/proxies/JavaProxy.java
  core/src/main/java/org/jruby/java/util/ArrayUtils.java
  core/src/main/java/org/jruby/javasupport/Java.java
  core/src/main/java/org/jruby/javasupport/JavaAccessibleObject.java
  core/src/main/java/org/jruby/javasupport/JavaCallable.java
  core/src/main/java/org/jruby/javasupport/JavaClass.java
  core/src/main/java/org/jruby/javasupport/JavaConstructor.java
  core/src/main/java/org/jruby/javasupport/JavaField.java
  core/src/main/java/org/jruby/javasupport/JavaMethod.java
  core/src/main/java/org/jruby/javasupport/JavaObject.java
  core/src/main/java/org/jruby/javasupport/JavaPackage.java
  core/src/main/java/org/jruby/javasupport/JavaProxyMethods.java
  core/src/main/java/org/jruby/javasupport/JavaSupport.java
  core/src/main/java/org/jruby/javasupport/JavaSupportImpl.java
  core/src/main/java/org/jruby/javasupport/JavaUtil.java
  core/src/main/java/org/jruby/javasupport/JavaUtilities.java
  core/src/main/java/org/jruby/javasupport/binding/Initializer.java
  core/src/main/java/org/jruby/javasupport/binding/MethodGatherer.java
  core/src/main/java/org/jruby/javasupport/ext/JavaLang.java
  core/src/main/java/org/jruby/javasupport/ext/JavaLangReflect.java
  core/src/main/java/org/jruby/javasupport/proxy/JavaProxyClass.java
  core/src/main/java/org/jruby/javasupport/proxy/JavaProxyConstructor.java
  core/src/main/java/org/jruby/javasupport/proxy/JavaProxyReflectionObject.java
  core/src/test/java/org/jruby/javasupport/TestJava.java
  core/src/test/java/org/jruby/javasupport/TestJavaClass.java
  spec/java_integration/addons/class_spec.rb
  spec/java_integration/fixtures/PublicConstructor.java
  spec/java_integration/module/java_import_spec.rb
  spec/java_integration/packages/include_spec.rb
  spec/java_integration/reflection/constructor_spec.rb
  spec/java_integration/reflection/field_spec.rb
  spec/java_integration/reflection/method_spec.rb
  spec/java_integration/reify/become_java_spec.rb
  spec/java_integration/types/array_spec.rb
  spec/java_integration/types/construction_spec.rb
  spec/java_integration/types/retrieval_spec.rb
  test/DefaultPackageClass.java
  test/jruby/test_backtraces.rb
  test/jruby/test_higher_javasupport.rb
  test/jruby/test_loading_builtin_libraries.rb
  test/org/jruby/test/AlternateLoader.java
  test/org/jruby/test/AlternativelyLoaded.java
  test/org/jruby/test/TestHelper.java
Labels: java integration

#6632 Dig improvements
  core/src/main/java/org/jruby/RubyArray.java
  core/src/main/java/org/jruby/RubyHash.java
  core/src/main/java/org/jruby/RubyObject.java
  core/src/main/java/org/jruby/RubyStruct.java
Labels: core, performance

#6630 Provide a collector for indy varargs boxing
  .travis.yml
  core/pom.rb
  core/pom.xml
  core/src/main/java/org/jruby/RubyString.java
  core/src/main/java/org/jruby/ir/targets/indy/Bootstrap.java
  core/src/main/java/org/jruby/ir/targets/indy/DRegexpObjectSite.java
  core/src/main/java/org/jruby/ir/targets/indy/InvokeSite.java
  core/src/main/java/org/jruby/runtime/Helpers.java
  spec/compiler/general_spec.rb
Labels: invokedynamic, jit, performance, regression

#6633 Improve inlining of varargs path for split methods
  core/src/main/java/org/jruby/ir/targets/indy/Bootstrap.java
  core/src/main/java/org/jruby/runtime/Helpers.java
  spec/compiler/general_spec.rb
Labels: invokedynamic, jit, performance
